# Bytecode and Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Google OAuth credentials
data/token.json
data/creds.json

# Autofill data
data/autofill.json
data/token.json
data/creds.json
data/token.json
